$border-color: #626262;
$base-color: #DBDBDB;
$body-color: #FFFAF0;
$div-color: lighten( $base-color, 10% );
$field-color: lighten( $div-color, 3% );

.display-all-container .page {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.display-all-container .page .row001 {
  margin-top: 1rem;
  flex-direction: row;
  display: inline-flex;
}
.display-link {
  height: 325px;
  width: 100%;
  border: $border-color solid 2px;
  margin: 0.5rem;
  display: inline-block
}

.profile-view {
  background-color: $div-color;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1.5rem;
  height: 175px;
  flex: 1 auto;
  display: inline-flex;
}
.profile-view .user-info {
  flex-direction: column;
  flex: 2;
}
.profile-view .user-info .header {
  font-weight: 800;
  margin-right: 3rem;
}
.profile-view .exam-status{
  flex-direction: column;
  flex: 2;
}
.profile-view .status {
  margin: 1rem auto;
}
.profile-view .countdown-timer {
  font-size: 2em;
  font-weight: 800;
}
.question-view {
  background-color: $div-color;
  height: 450px;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  flex: 1 auto;
  margin-right: 1rem;
  word-wrap: break-word;
  max-width: 400px;
}
.question-view .header{
  margin-bottom: 3rem;
}
.question-view .question-prompt{
  font-style: italic;
  font-size: 1.2em;
  font-weight: 600;
}
.answer-view {
  background-color: $div-color;
  height: 450px;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  -webkit-flex: 1;
  flex: 3 auto;
} 
.answer-view textarea {
  width: 100%;
  height: 85%;
  background-color: $field-color;
  padding: 1rem;
}
.status .start-exam.btn{
  margin: 1rem;
}
.submit-answer button {
  margin-top: 1rem;
  float: right;
}















