.display-all-container .page {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.display-all-container .page .row001 {
  margin-top: 1rem;
  flex-direction: row;
  display: inline-flex;
}
.display-link {
  height: 325px;
  width: 100%;
  border: gray solid 1px;
  margin: 0.5rem;
  display: inline-block
}

.profile-view {
  border: gray solid 1px;
  border-radius: 10px;
  padding: 1rem;
  height: 175px;
  flex: 1 auto;
}
.profile-view .status {
  margin: 2rem auto;
}
.profile-view .countdown-timer {
  font-size: 2em;
  font-weight: 800;
}
.question-view {
  height: 450px;
  border: gray solid 1px;
  border-radius: 10px;
  padding: 1rem;
  flex: 1 auto;
  margin-right: 1rem;
  word-wrap: break-word;
  max-width: 400px;
}
.answer-view {
  height: 450px;
  border: gray solid 1px;
  border-radius: 10px;
  padding: 1rem;
  -webkit-flex: 1;
  flex: 3 auto;
} 
.answer-view textarea {
  height: 75%;
  width: 95%;
  margin: 2rem;
  background-color: gray;
  padding: 1rem;
}
.status .start-exam.btn{
  margin: 1rem;
}
.submit-answer button {
  float: right;
}