$border-color: #626262;
$base-color: #DBDBDB;
$body-color: #FFFAF0;
$div-color: lighten( $base-color, 10% );
$field-color: lighten( $div-color, 3% );

.candidates-list {
  height: 450px;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  -webkit-flex: 1;
  flex: 3 auto;
  margin-top: 1rem;
} 
.candidate-add-view {
  background-color: $div-color;
	border: $border-color solid 2px;
	border-radius: 10px;
	padding: 1.25rem 1.5rem;
	height: 135px;
	flex: 1 auto;
  margin-top: 1rem;
  flex-direction: row;
  display: inline-flex;
}
.candidate-add-view input {
  width: 95%;
  height: 85%;
  background-color: $field-color;
}
.add-candidate {
  text-align: right;
  margin: auto 0;
  margin-top: 4rem;
}
.action-status {
	float: right;
}
.column{
  flex: 3 auto;
}
.candidate-add-view .field {
  margin: 0.5rem 0;
}
.candidate-add-view .admin-panel {
  margin: 1rem 0;
}
.candidate-add-view .admin-panel .selection-section {
  display: flex;
  flex-direction: row;
}
.candidate-add-view .admin-panel .selection {
  margin-right: 2rem;
}
.candidate-add-view .admin-panel .selection > input{
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}
.candidates-list-view {
  background-color: $div-color;
  margin-top: 1rem;
  height: 450px;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  -webkit-flex: 1;
  flex: 6 auto;
  flex-direction: column;
  display: inline-flex;
  overflow: scroll;
}
.candidates-list-view .row {
  margin: 0.25rem;
  display: inline-flex;
  min-height: 55px;
}
.candidates-list-view .header {
  font-weight: 800;
  font-size: 1em;
}
.candidates-list-view .field {
  text-align: left;
  margin: 0.25rem;
  flex: 3;
}
.candidates-list-view .field.name {
  flex: 3;
}
.candidates-list-view .field.email {
  flex: 4;
}
.candidates-list-view .field.admin {
  flex: 1;
}
.candidates-list-view .field.initiate-btn {
  flex: 2;
}
.candidates-list-view .field.results-btn {
  flex: 2;
}





.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}