$border-color: #626262;
$base-color: #DBDBDB;
$body-color: #FFFAF0;
$div-color: lighten( $base-color, 10% );
$field-color: lighten( $div-color, 3% );

.prompts-list {
  height: 450px;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  -webkit-flex: 1;
  flex: 3 auto;
  margin-top: 1rem;
} 
.prompt-add-view {
  background-color: $div-color;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  height: 135px;
  flex: 1 auto;
  margin-top: 1rem;
  flex-direction: row;
  display: inline-flex;
}
.prompt-add-view input {
  width: 95%;
  height: 100%;
  background-color: $field-color;
  padding: 5px 5px 50px 5px;
}
.add-prompt {
  text-align: right;
  margin: auto 0;
  margin-top: 3.2rem;
}
.action-status {
  float: right;
}
.column{
  flex: 3 auto;
}
.prompts-list-view {
  background-color: $div-color;
  margin-top: 1rem;
  height: 450px;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  overflow: scroll;
}
.prompts-list-view .react-wrapper {
  width: 100%;
  padding: 1rem;
  flex: 6 auto;
  flex-direction: row;
  display: inline-flex;
}
.prompts-list-view .react-wrapper .row {
  margin: 0.25rem;
  display: inline-flex;
  min-height: 55px;
}
.prompts-list-view .react-wrapper .header {
  font-weight: 800;
  font-size: 1em;
}
.prompts-list-view .react-wrapper .field {
  text-align: left;
  margin: 0.25rem;
  flex: 14;
}
.prompts-list-view .react-wrapper .question {
  font-style: italic;
  margin-right: 5rem;
  white-space: pre-wrap;
}
.prompts-list-view .react-wrapper .field.delete-prompt,
.prompts-list-view .react-wrapper .field.edit-prompt {
  flex: 1;
}

.prompts-list-view input {
  width: 95%;
  height: 100%;
  background-color: $field-color;
  padding: 5px 5px 50px 5px;
}





.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}