$border-color: #626262;
$base-color: #DBDBDB;
$body-color: #FFFAF0;
$div-color: lighten( $base-color, 10% );
$field-color: lighten( $div-color, 3% );

.profile-view {
  background-color: $div-color;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  height: 135px;
  flex: 1 auto;
  margin-top: 1rem;
  flex-direction: row;
  display: inline-flex;
  width: 100%;
}
.profile-view .user-info{
  flex-direction: column;
  flex: 2;
}
.answers-view {
  background-color: $div-color;
  margin-top: 1rem;
  height: 450px;
  border: $border-color solid 2px;
  border-radius: 10px;
  padding: 1rem;
  -webkit-flex: 1;
  flex: 6 auto;
  flex-direction: column;
  display: inline-flex;
  width: 100%;
  overflow: scroll;
  white-space: pre-wrap;
} 
.answers-view .ques-ans-block {
  flex-direction: row;
  display: flex;
  margin: 5rem 0;
}
.answers-view .ques-ans-block.header {
  margin: 0 0 3rem 0;
}
.answers-view .ques-ans-block .field{
  flex-direction: column;
  flex: 1;
}
.answers-view .ques-ans-block .prompt{
  font-style: italic;
}
.answers-view .ques-ans-block .answer{

}
